<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHALLENGE CHAPTER 4</title>
    <link rel="stylesheet" href="style2.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="logo">
        </div>
        <div class="judul-game">
            <h1>ROCK PAPER SCISSORS</h1>
        </div>
    </header>

    <section>
        <div class="game">
            <div class="userc">
                <h1 class="player-1">PLAYER 1</h1>
                <div class="used">
                    <h2>Kamu Memilih: <span id="user-choice"></span></h2>
                    <button class="user-tool your-tool dissap" style="background-color: #9C835F; border: none;" id="rock">
                        <img src="assets/batu.png" alt="batu" >
                    </button>
                    <button class="user-tool your-tool dissap" style="background-color: #9C835F; border: none;" id="paper">
                        <img src="assets/kertas.png" alt="kertas" id="paper">
                    </button>
                    <button class="user-tool your-tool dissap" style="background-color: #9C835F; border: none;" id="scissors">
                        <img src="assets/gunting.png" alt="gunting" id="scissors">
                    </button>
                </div>
            </div>

            <div class="Versus-reset">
                <div class="box" id="kotak">
                    <h1 id="h1">VS<br><span id="result">    </span></h1>
                </div>
                <div class="refresh" id="ulang">
                    <img src="assets/refresh.png" alt="refresh">
                </div>
            </div>

            <div class="Com-choice">
                <h1 class="playerCom">COM</h1>
                <div class="used2">
                    <h2>Computer memilih: <span id="computer-choice"></span></h2>
                    <button class="user-tool1" style="background-color: #9C835F; border: none;" id="Rock">
                        <img src="assets/batu.png" alt="batu">
                    </button>
                    <button class="user-tool1" style="background-color: #9C835F; border: none;" id="Paper">
                        <img src="assets/kertas.png" alt="kertas">
                    </button>
                    <button class="user-tool1" style="background-color: #9C835F; border: none;" id="Scissors">
                        <img src="assets/gunting.png" alt="gunting">
                    </button>
                </div>
            </div>
        </div>
    </section>

    <script src="javascript.js"></script>

</body>
</html>