<!doctype html>
<html lang="en">

<!-- meta -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  -->
    <title>Traditional Game</title>
   <!-- stylesheet and favicon -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  
    <link rel="stylesheet" href="styles.css">
   <link rel="icon" type="image/x-icon" href="/assets/icon.ico">
   <!--  -->
   </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/RPS.png" alt="" width="30" height="24"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="work">Work</a> </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
                <li class="nav-item">
                <a class="nav-link" href="aboutme">About Me</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="signup">Sign Up</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
                </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!-- end of navbar -->

<!-- main banner -->
    <div class="container-fluid banner">
    <div class="container text-center"> <h3 class="display-2">Play Traditional Games</h3> 
      <h4 class="display-4">Experience New Traditional Game Play  </h4>
      <a href="game" class="link-dark"><h1>PLAY NOW</h1></a>></div>
    </div>

    <!-- end of banner -->

    <!-- carousel -->

    <div class="container-fluid karusel">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="display-6">What's so special?</h5>
            <h2 class="display-3">The Games</h2>
          </div>
          <div class="col-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaper3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaper2.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
    </div>
  </div>
  </div>

  <!-- end of carousel -->

  <!-- features -->

    <div class="container-fluid feature">
      <div class="container">
        <div class="row justify-content-end features-contents">
          <div class="col-4 features-info mb-2">
            <h3 class="features-info-title">
              What's so special?
            </h3>
            <h1 class="features-info-content">
              FEATURES
            </h1>
          </div>
        </div>
        <div class="row justify-content-end features-timeline">
          <div class="col-5 features-timeline-content">
            <div class="row timeline">
              <div class="col-3 pt-2 mt-1 timeline-dot">
                <img src="./assets/Ellipse.svg">
              </div>
              <div class="col tl-info">
                <h2 class="tl-info-title">
                  TRADITIONAL GAMES
                </h2>
                <p class="tl-info-content">
                  If you miss your childhood, we provide many traditional games here
                </p>
              </div>
            </div>
            <div class="row timeline">
              <div class="col-3 pt-2 mt-1 timeline-dot">
                <img src="./assets/ellipse-outline.svg">
              </div>
              <div class="col tl-info">
                <h2 class="tl-info-title">
                  GAME SUIT
                </h2>
              </div>
            </div>
            <div class="row timeline">
              <div class="col-3 pt-2 mt-1 timeline-dot">
                <img src="./assets/ellipse-outline.svg">
              </div>
              <div class="col tl-info">
                <h2 class="tl-info-title">
                  TBD
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

<!-- end of features -->

<!-- system requirements -->

<div class="container-fluid sysreq">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-15">
        <h1 class="rq-table-title">System Requirements</h1>

          <!-- Table -->
          <table class="table table-bordered table-content-sys align-items-start">
            <tbody>
              <tr>
                <td>
                  <h2 class="requirements-info">OS:</h2>
                  <p class="requirements-info-content">
                    Windows 7 64-bit only<br>(No OSX support at this time)
                  </p>
                </td>
                <td>
                  <h2 class="requirements-info">Processor:</h2>
                  <p class="requirements-info-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2 class="requirements-info">Memory:</h2>
                  <p class="requirements-info-content">4 GB RAM</p>
                </td>
                <td>
                  <h2 class="requirements-info">Storage:</h2>
                  <p class="requirements-info-content">8 GB available space</p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h2 class="requirements-info">Graphics:</h2>
                  <p class="requirements-info-content">
                    NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB
                    DirectX11 (Shader Model S)
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End of table -->
        </div>
      </div>
</div>
</div>
</div>

<!-- end of system requirements -->

<!-- topscores -->
<div class="container-fluid topscores">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="display-5">Top Scores</h2>
        <h5 class="display-6">This top score from various games provided on this platform</h5>
        <button type="button" class="btn btn-warning btn-lg">See More</button>
      </div>
      <div class="col-12">
         <!-- Twitter cards -->
      <div class="col">
        <div class="row">
          <div class="col-lg-4 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twittercards">
            <div class="card text-white bg-dark mb-2 " id="card-1">
              <div class="card-header row">
                <img src="./assets/evan-lahti.jpg" class="img-fluid float-left profilepic col-3 card-costum"
                  alt="Evan Lahti">
                <div class="col-6">
                  <h3>Evan Lahti</h3>
                  <h4>PC Gamer</h4>
                </div>
                <img src="./assets/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "One of my gaming highlights of the year."
                </h5>
                <p class="card-text">October 18, 2018</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-7 offset-lg-3 offset-md-2 offset-sm-1 twittercards">
            <div class="card text-white bg-dark mb-2 " id="card-2">
              <div class="card-header row">
                <img src="./assets/jada-griffin.jpg" class="img-fluid float-left profilepic col-3 card-costum"
                  alt="Jada Griffin">
                <div class="col-6">
                  <h3>Jada Griffin</h3>
                  <h4>Nerdreactor</h4>
                </div>
                <img src="./assets/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "The next big thing in the world of streaming and survival
                  games."
                </h5>
                <p class="card-text">December 21, 2018</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-7 offset-lg-5 offset-md-2 offset-sm-1 twittercards">
            <div class="card text-white bg-dark mb-1 " id="card-3">
              <div class="card-header row">
                <img src="./assets/aaron-williams.jpg" class="img-fluid float-left profilepic col-3 card-costum"
                  alt="Aaron Williams">
                <div class="col-6">
                  <h3>Aaron Williams</h3>
                  <h4>Uproxx</h4>
                </div>
                <img src="./assets/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                  Ridiculous
                </h5>
                <p class="card-text">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Twitter cards -->
    </div>
  </section>
        </div>
      </div>
</div>
</div>
</div>

<!-- end of topscores -->

<!-- newsletter -->

<div class="container-fluid subscribe">
  <div class="container">
    <div class="row">
      <div class="col-xl">
        <figure>
          <img src="./assets/skull2.jpg" alt="skull" id="skull">
        </figure>
      </div>
      <div class="col-xl">
        <div class="footer-content-right ">
          <h3>Want to stay in touch?</h3>
          <h1>Newsletter Subscribe</h1>
          <p>
            In case to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of you. We
            will send you emails containing information about game. We don't
            spam.
          </p>
        </div>
        <div class="footer-content-left">
          <form class="form row">
            <div class="form-group col-md-7">
              <label class="sr-only" for="email">email</label>
              <input type="text" class="form-control mb-2 mr-sm-2 pt-3 bg-dark" id="email"
                placeholder="youremail@binar.co.id">
              <p>Your email address</p>
            </div>
            <div class="col-md-5 text-left mt-4">
              <button class="btn btn-lg btn-warning mb-3 w-100">
                Subscribe Now
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- end of newsletter -->

  <!-- footer -->

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Bootstrap</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    <symbol id="facebook" viewBox="0 0 16 16">
      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
    </symbol>
    <symbol id="instagram" viewBox="0 0 16 16">
        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
    </symbol>
    <symbol id="twitter" viewBox="0 0 16 16">
      <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
    </symbol>
  </svg>
  


  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted ">&copy; 2018 Your Games, Inc. All Rights Reserved</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms of Service</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Code of Conduct</a></li>

      </ul>
    </footer>
  </div>

  <!--end of footer -->

  <script>

  </script>

  <!-- js bootstrap/popper -->
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  <!-- end of js -->
  </body>
</html>