

.banner {
    background-image:url("./assets/main-bg.jpg"); no-repeat center center;
    background-size: cover;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 30%;
    height: 100vh;
    color: white;
}

.karusel {
    background-image:url("./assets/the-games-bg.jpg"); no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 30%;
    height: 100vh;
    color: white;

}


.feature 
{
    background-image:url("./assets/features.jpg"); no-repeat center center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 30%;
    height: 100vh;
    color: white;
    font-size: small;
}



.sysreq {
    background-image:url("./assets/requirements.png"); no-repeat center center;
    padding-top: 30%;
    padding-bottom: 30%;
    height: 100vh;
    color: white;
    font-size: small;
}

.topscores {
    padding-top: 20%;
    background-image:url("./assets/top-score-bg.png"); no-repeat center center;
    color: white;
    font-size: small;
}

.subscribe {
    background-image:url("./assets/newsletter.png");
    padding-top: 10%;
    color: white;
    padding-bottom: 5%;
}

.table {color: white;
border-color: gray;}

.suitgame {
    max-width: 50%
}

